@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


body  {
    font-family: 'Poppins', sans-serif;
}
.container li {
    list-style: none;
}
.button> li a {
    text-decoration: none;
    color: black;
}
.top-title{
    font-weight: 800;
    font-size: 64px;
}

.image1 {
    position: relative;
    top: 10px;
height: 183px;
width: 183px;
}
.image1 {
    width: 146px;
    height: 74px;

}
.top-con {
    margin-top: 100px;
}
.company {
    background-color: #d5f3ff;
    color: rgb(17, 14, 14);
    font-weight: 600;
    letter-spacing: 2px;
    text-align: center;
    padding-top: 80px;
}
.see-how {
    text-decoration: none;
    color: #0085e4;
}

.covers {
    margin-top: 200px;
    margin-bottom: 200px;
}
.cover {
    height: 635PX;
    background-color: #d5f3ff;
}


/* image slider style  */

.ccover {
    height: 480px;
    background-color: #d5f3ff;
}
.list li  {
    list-style: none;
    color: white;
}
.ul >h6 {
    color: #d5f3ff;
}
.llist {
    margin-right: 200px;
}